.wrapper {
  padding: 0 10px;
}

@font-face {
  font-family: "Geometria";
  src: local("Geometria-Light"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.eot") format("eot"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Geometria";
  src: local("Geometria"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.eot") format("eot"), url("../fonts/Geometria.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Geometria";
  src: local("Geometria-Medium"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.eot") format("eot"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Geometria";
  src: local("Geometria-Bold"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.eot") format("eot"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Geometria";
  src: local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.eot") format("eot"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Geometria";
  src: local("Geometria-Heavy"), url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.eot") format("eot"), url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
body {
  font-family: "Geometria", sans-serif;
}

.title-2 {
  font-weight: 800;
  font-size: 30px;
}
@media only screen and (min-width: 576px) {
  .title-2 {
    font-size: 35px;
  }
}

.title-3 {
  font-weight: 800;
  font-size: 20px;
}
@media only screen and (min-width: 576px) {
  .title-3 {
    font-size: 22px;
  }
}
.title-3_white {
  color: #FFF;
}

.header {
  padding: 35px 10px 70px 10px;
  background: url("../images/background-header.png") 35% 0/cover no-repeat;
}
.header__title {
  margin-bottom: 30px;
}
@media only screen and (min-width: 576px) {
  .header__title {
    font-weight: 900;
    font-size: 50px;
  }
}
.header__text {
  font-size: 22px;
}
.header__btn {
  font-weight: 500;
  font-size: 20px;
  padding: 17px 0;
}

.logo__img {
  margin-right: 30px;
}
.logo__text {
  font-weight: 400;
  font-size: 14px;
}
@media only screen and (min-width: 576px) {
  .logo__text {
    font-size: 16px;
  }
}

.statistics {
  margin-bottom: 60px;
}
.statistics__num {
  margin-right: 20px;
  font-size: 40px;
}
@media only screen and (min-width: 576px) {
  .statistics__num {
    font-weight: 300;
    font-size: 80px;
    line-height: 1.25;
  }
}
.statistics__col:not(:last-child) {
  margin-right: 26px;
}
.statistics__text {
  margin-bottom: 0;
}
@media only screen and (min-width: 576px) {
  .statistics__text {
    margin-bottom: 1rem;
  }
}

.test {
  margin-bottom: 40px;
}
.test__icon {
  width: 68px;
  height: 73px;
  margin-right: 20px;
}
.test__text span {
  font-weight: 700;
}

.call__num {
  font-size: 24px;
}
@media only screen and (min-width: 576px) {
  .call__num {
    font-size: 30px;
  }
}
.call__num_white {
  color: #FFF;
}
.call__btn {
  font-weight: 500;
  padding: 15px 0 19px 0;
  border-color: #2A94E2;
}
.call__btn:hover {
  background-color: #2A94E2;
}

.wrapper {
  overflow: hidden;
}

.quiz {
  padding: 60px 10px 0 10px;
}
.quiz__title {
  margin-bottom: 40px;
}
.quiz__text {
  font-size: 22px;
  margin-bottom: 42px;
}
.quiz__content {
  border: 3px solid #F6F6F6;
  padding: 40px;
}
.quiz__item {
  list-style-type: none;
  position: relative;
}
.quiz__item:not(:last-child) {
  margin-bottom: 30px;
}
.quiz__item::before {
  content: "";
  display: inline-block;
  height: 35px;
  width: 39px;
  background: url("../icons/check-mark.svg");
  position: absolute;
  left: -55px;
  top: 8px;
}

.question__title {
  margin-bottom: 30px;
}
.question__cards {
  border-bottom: 3px solid #F6F6F6;
  margin-bottom: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.question__card {
  cursor: pointer;
  transition: all 0.3s;
}
.question__card:hover {
  background-color: #2A94E2;
}
.question__card:hover .cards__text {
  color: white;
}

.cards__text {
  color: #808080;
  font-weight: 700;
  font-size: 16px;
}

.counter__btn {
  color: #2A94E2;
  padding-bottom: 10px;
}
.counter__btn:hover {
  background-color: #2A94E2;
}

.services {
  padding: 60px 0;
}
.services__title {
  margin-bottom: 50px;
}
.services__cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
  grid-template-rows: repeat(3, 320px);
  grid-auto-rows: 300px;
}
@media only screen and (min-width: 576px) {
  .services__cards {
    grid-template-rows: repeat(3, 300px);
  }
}
@media only screen and (min-width: 992px) {
  .services__cards {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 300px);
  }
}
.services__btn {
  padding: 15px 0 20px 0;
}
.services__card {
  position: relative;
  display: flex;
  background: linear-gradient(180deg, rgba(83, 88, 96, 0) 55%, rgba(37, 44, 56, 0.5634628852) 70%, rgb(37, 44, 56) 100%);
}
.services__card:hover {
  background: linear-gradient(180deg, rgba(37, 44, 56, 0.8) 0, rgba(37, 44, 56, 0.8) 100%);
}
.services__card:hover .services__card-wrapper {
  visibility: visible;
  opacity: 1;
}
.services__card:hover .services__card-title {
  bottom: 100%;
}
@media only screen and (min-width: 992px) {
  .services__card-1 {
    grid-row: 1/3;
    grid-column: 1/2;
  }
}
@media only screen and (min-width: 992px) {
  .services__card-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
@media only screen and (min-width: 992px) {
  .services__card-3 {
    grid-row: 1/2;
    grid-column: 3/-1;
  }
}
@media only screen and (min-width: 992px) {
  .services__card-4 {
    grid-row: 2/3;
    grid-column: 2/-1;
  }
}
@media only screen and (min-width: 992px) {
  .services__card-5 {
    grid-row: 3/-1;
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 992px) {
  .services__card-6 {
    grid-row: 3/-1;
    grid-column: 3/-1;
  }
}
.services__card-img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.services__card-title {
  position: absolute;
  bottom: 20px;
  transition: bottom 0.7s;
}
.services__card-content {
  position: relative;
  margin-top: auto;
  padding: 20px;
}
.services__card-wrapper {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.services__card-text {
  color: #FFF;
}

.apartments {
  margin-bottom: 60px;
}
.apartments__title {
  margin-bottom: 26px;
}
.apartments__text {
  font-size: 22px;
}
.apartments__btn {
  border-radius: 0;
  border: 3px solid #f6f6f6;
  padding: 13px 0;
  border-left: 0;
}
@media only screen and (min-width: 576px) {
  .apartments__btn {
    max-width: 20%;
  }
}
.apartments__btn_gray:hover {
  background: #F6F6F6;
}
.apartments__prices {
  margin-bottom: 30px;
}
.apartments__cards {
  margin-bottom: 40px;
}
.apartments__button {
  background: #F6F6F6;
  padding: 19px 0;
  border-radius: 0;
}
.apartments__button:hover {
  background: #2A94E2;
  color: #fff;
}

.apartments__card {
  border-radius: 0;
  transition: box-shadow 0.3s;
}
.apartments__card:hover {
  box-shadow: 0px 0px 18px 0px rgba(233, 80, 79, 0.25);
}
.apartments__card-img {
  border-radius: 0;
}
.apartments__card-content {
  padding: 30px 30px 15px 30px;
}
.apartments__card-title {
  cursor: pointer;
  margin-bottom: 10px;
  transition: color 0.2s;
}
.apartments__card-title:hover {
  color: #2A94E2;
}
.apartments__card-lot {
  margin-bottom: 20px;
}
.apartments__card-btn {
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  background: #f6f6f6;
  padding: 13px 0;
  transition: all 0.2s;
}
.apartments__card-btn:hover {
  background: #2A94E2;
  color: #fff;
}

.card-info {
  display: grid;
}
@media only screen and (min-width: 992px) {
  .card-info {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, min-content);
    align-items: baseline;
  }
}
.card-info__1 {
  font-weight: 300;
  font-size: 26px;
}
@media only screen and (min-width: 576px) {
  .card-info__1 {
    font-weight: 300;
    font-size: 33px;
  }
}
.card-info__square {
  grid-row: 3/4;
}
@media only screen and (min-width: 992px) {
  .card-info__square {
    grid-row: 1/2;
    grid-column: 2/-1;
  }
}

.about {
  padding: 65px 0;
  background: #F6F6F6;
}
.about__title {
  margin-bottom: 30px;
}
.about__text:nth-child(3) {
  margin-bottom: 20px;
}
.about__left {
  padding: 10px;
}
.about__right {
  padding: 10px;
}
.about__image {
  margin-bottom: 8px;
}
.about__btn {
  padding: 16px 0;
  max-width: 270px;
}

.image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-collection__wrapper {
  border: 2px solid transparent;
}
.image-collection__wrapper:not(:last-child) {
  margin-right: 8px;
}
.image-collection__wrapper:hover {
  border: 2px solid #2A94E2;
}

.directions {
  padding: 60px 0;
}
.directions__title {
  margin-bottom: 50px;
}
.directions__cards {
  margin-bottom: 60px;
}
.directions__link {
  color: #2A94E2;
  font-size: 18px;
  line-height: 40px;
}
@media only screen and (min-width: 576px) {
  .directions__link {
    font-size: 22px;
  }
}

.direction {
  border: 1px solid #2A94E2;
  border-radius: 10px;
  padding: 50px 50px 30px 50px;
}
.direction__decor {
  left: 0;
  top: 10px;
}
.direction__title {
  margin-bottom: 40px;
}
.direction__supervisor {
  font-size: 12px;
  margin-bottom: 0;
}
.direction__supervisor-name {
  margin-bottom: 20px;
}
.direction__number {
  margin-bottom: 10px;
}
@media only screen and (min-width: 576px) {
  .direction__number {
    font-size: 25px;
  }
}
.direction__email {
  font-size: 14px;
}
@media only screen and (min-width: 576px) {
  .direction__email {
    font-size: 16px;
  }
}

.supervisor {
  background: #F6F6F6;
  padding-top: 60px;
}
.supervisor__description {
  padding-bottom: 60px;
}
.supervisor__title {
  margin-bottom: 30px;
}
.supervisor__name {
  font-weight: 800;
  font-size: 22px;
}
.supervisor__text {
  margin-bottom: 30px;
}
.supervisor__btn {
  padding: 16px 0;
  max-width: 270px;
}
.supervisor__image-wrapper {
  -o-object-fit: cover;
     object-fit: cover;
}
.supervisor__image {
  width: 100%;
}

.footer {
  background: #535860;
  padding: 40px 0;
}
.footer__btn {
  border-color: #FFF;
}
.footer__btn:hover {
  background: #2A94E2;
  border-color: #2A94E2;
  color: white;
}
.footer__email {
  font-size: 22px;
  margin-bottom: 15px;
}

.schedule {
  color: #FFF;
  font-size: 13px;
}
.schedule__text {
  margin-bottom: 10px;
}
.schedule__time {
  margin-bottom: 20px;
}
.schedule__address {
  font-size: 16px;
  margin-bottom: 20px;
}
.schedule__MSNR {
  margin-right: 30px;
}

.button {
  background-color: #2A94E2;
  border-color: #2A94E2;
}/*# sourceMappingURL=style.css.map */