.footer{
    background: #535860;
    padding: 40px 0;
    &__btn{
        border-color: #FFF;
        &:hover{
            background: $color-gray-light;
        }
    }
    &__email{
        font-size: 22px;
        margin-bottom: 15px;
    }
}

.schedule{
    color:#FFF;
    font-size: 13px;
    &__text{
        margin-bottom: 10px;
    }
    &__time{
        margin-bottom: 20px;
    }
    &__address{
        font-size: 16px;
        margin-bottom: 20px;
   }
   &__MSNR{
    margin-right: 30px;
   }
}