.header{
    padding: 35px 10px 70px 10px;
    background: url("../images/background-header.png") 35% 0 / cover no-repeat;
    &__title{
        @include respond("sm"){
            @include fontWeightAndSize(900, 50px);
        }
        margin-bottom: 30px;
    }
    &__text{
        font-size: 22px;
    }
    &__btn{
        @include fontWeightAndSize(500, 20px);
        padding: 17px 0 ;
    }
}

.logo{
    &__img{
        margin-right: 30px;
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        @include respond("sm"){
            font-size: 16px;
        }
    }
}

.statistics{
    margin-bottom: 60px;
    &__num{
        margin-right: 20px;
        font-size: 40px;
        @include respond("sm"){
            @include fontWeightAndSize(300, 80px);
            line-height: 1.25;
        }
    }
    &__col:not(:last-child){
        margin-right: 26px;
    }
    &__text{
        margin-bottom: 0;
        @include respond("sm"){
            margin-bottom: 1rem;
        }
    }
}

.test{
    margin-bottom: 40px;
    &__icon{
        width: 68px;
        height: 73px;
        margin-right: 20px;
    }
    &__text span{
        font-weight: 700;
    }
}

.call{
    &__num{
        font-size: 24px;
        @include respond("sm"){
            font-size: 30px;
        }
        &_white{
            color: #FFF;
        }
    }
    &__btn{
        font-weight: 500;
        padding: 15px 0 19px 0;
        border-color: $color-blue;
        &:hover{
            background-color: $color-blue;
        }
    }
}

.wrapper{
    overflow: hidden;
}