.header{
    padding: 35px 10px 70px 10px;
    background: url("../images/background-header.png") 35% 0 / cover no-repeat;
    &__title{
        font-weight: 900;
        font-size: 50px;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 22px;
    }
    &__btn{
        font-weight: 500;
        padding: 17px 0 ;
        font-size: 20px;
        background-color: $color-blue;
    }
}

.logo{
    &__img{
        margin-right: 30px;
    }
    &__text{
        font-weight: 400;
    }
}

.statistics{
    margin-bottom: 60px;
    &__num{
        font-weight: 300;
        font-size: 80px;
        line-height: 1.25;
        margin-right: 20px;
    }
    &__col:not(:last-child){
        margin-right: 26px;
    }
}

.test{
    margin-bottom: 40px;
    &__icon{
        width: 68px;
        height: 73px;
        margin-right: 20px;
    }
    &__text span{
        font-weight: 700;
    }
}

.call{
    &__num{
        font-size: 30px;
    }
    &__btn{
        font-weight: 500;
        padding: 15px 0 19px 0;
        border-color: $color-blue;
        &:hover{
            background-color: $color-blue;
        }
    }
}